#home3 {
    width: 100%;
    height: 85vh;
    position: relative;
    top:15vh
}

.home3-cont {
    background-image: url("/home.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home3-text-cont {
    color: #032998;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    position: relative; 
    text-shadow: 0px 4px 15px var(--color-FDDF39);
    display:flex;
    flex-direction: column;
}

.beauty-text {
    display: block;
    width: 100%;
    text-align: center;
}
.author-name{
color: var(--color-black);
font-size: 30px;
font-family: var(--Poppins);
font-weight:500;
text-shadow:none;
display: flex;
justify-content:center;
padding-left: 220px ;
}

.bottom-left-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--color-black);
    font-family: var(--Poppins);
    font-size: 20px;
    font-weight: 500;
    height:42px;
    width:125px;
    background-color: var(--color-B1B1B1);
    border-radius: 20px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.bottom-left-button:hover{
    background-color: var(--color-B1B1B1-50);
}
.bottom-left-button i {
    font-size: 25px; 
    color: var(--color-black);
}

