/* HomePage.css */
.slider-wrapper {
    position: relative;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
  }
  
  .slide.show {
    opacity: 1;
  }
  
  .slide.hide {
    opacity: 0;
  }
  