#services {
  width: 100%;
  padding: 20px;
  background: linear-gradient(180deg, #DADBF7 30%, #FFC9E1 100%);
}


.services-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  color: var(--color-black);
  font-family: var(--PlayfairDisplay);
  font-size: 48px; /* Missing unit added */
  font-weight: 700;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 10px;
  padding: 10px;
}

.services-card {
  width: 178px;
  height: 228px;
  position: relative; /* For absolute positioning of overlay and content */
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.services-card::before {
  content: "";
  position: absolute;
  left: 2%;
  width: 97%;
  height: 97%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px; /* Match the border-radius of the card */
  z-index: 1; /* Ensures the gradient overlay is above the background image but below the content */
}

.service-card-content {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  color: var(--color-white);
  font-family: var(--Poppins);
  font-weight: 700;
  text-align: center;
  z-index: 2; /* Ensures content is above the overlay */
  margin: 0;
  font-size: 25px;
  white-space: nowrap;
}
.bridal-cont{
  display: flex;
  justify-content: center;
}
.bridal {
  width: 80%;
  padding: 20px;
  background: linear-gradient(180deg,  #A4B1C1 40% , #0F1A3A 100%);  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures no content overflows the div */
}
.mona-text{
  font-family: var(--Poppins);
  font-size: 20px;
  color: var(--color-white);
  letter-spacing: 12px; 
  font-weight: 300;
}

.bridal img.bridal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image fits within the container without being distorted */
}

